services:
  namenode:
    image: apache/hadoop:3.4.1
    hostname: namenode
    container_name: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870
    env_file:
      - ./config
    environment:
      - ENSURE_NAMENODE_DIR="/tmp/hadoop-root/dfs/name"
    networks:
      - hadoopnet
  datanode:
    image: apache/hadoop:3.4.1
    hostname: datanode
    container_name: datanode
    command: ["hdfs", "datanode"]
    env_file:
      - ./config
    networks:
      - hadoopnet
  resourcemanager:
    image: apache/hadoop:3.4.1
    hostname: resourcemanager
    container_name: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088
    env_file:
      - ./config
    networks:
      - hadoopnet
  nodemanager:
    image: apache/hadoop:3.4.1
    hostname: nodemanager
    container_name: nodemanager
    command: ["yarn", "nodemanager"]
    env_file:
      - ./config
    networks:
      - hadoopnet


networks:
  hadoopnet:
    name: hadoopnet
    driver: bridge
    ipam:
      config:
        - subnet: 172.8.0.0/16

